### Importando bibliotecas necessárias

In [42]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

### Lendo dataSet

In [43]:
df = pd.read_excel("AdventureWorks.xlsx")
df.head()

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
1,2008-05-12,2008-05-17,306,384,19051,200805123CS567,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
2,2008-05-14,2008-05-20,306,384,19052,200805143CS576,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
3,2008-05-21,2008-05-27,306,384,19052,200805213CS576,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
4,2008-06-20,2008-06-27,306,384,19053,200806203CS586,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red

In [44]:
# Tamanho do dataFrame
df.shape

(904, 16)

In [45]:
# Tipos de dados das colunas do dataFrame
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

In [46]:
# Verificando valores ausentes
df.isnull().sum()

Data Venda        0
Data Envio        0
ID Loja           0
ID Produto        0
ID Cliente        0
No. Venda         0
Custo Unitário    0
Preço Unitário    0
Quantidade        0
Valor Desconto    0
Valor Venda       0
Produto           0
Fabricante        0
Marca             0
Classe            0
Cor               0
dtype: int64

## Receita total

In [47]:
print(f"US$ {df['Valor Venda'].sum():.2f}")

# O dolár foi utilizado com o único propósito de ilustrar a análise

US$ 5984606.14

## Custo total

### Adicionando coluna Custo

In [48]:
df["Custo"] = df["Custo Unitário"].mul(df["Quantidade"])
df["Custo"]

0      2091.48
1      2091.48
2      2091.48
3      2091.48
4      2091.48
        ...
899    1985.94
900    1948.14
901    1948.14
902    1985.94
903    1948.14
Name: Custo, Length: 904, dtype: float64

### Calculando o Custo total

In [49]:
print(f"US$ {df['Custo'].sum():.2f}")

US$ 2486783.05

## Lucro total

### Adicionando coluna Lucro

In [50]:
df["Lucro"] = df["Valor Venda"] - df["Custo"]
df["Lucro"]

0      2456.52
1      2456.52
2      2456.52
3      2456.52
4      2456.52
        ...
899    3588.48
900    2755.86
901    2755.86
902    2809.26
903    2755.86
Name: Lucro, Length: 904, dtype: float64

### Calculando Lucro total

In [51]:
print(f"US$ {df['Lucro'].sum():.2f}")

US$ 3497823.09

## Tempos de envio, média dos tempos de envio e média dos tempos de envio por marca

### Adicionando coluna Tempo Envio

In [52]:
df["Tempo Envio"] = df["Data Envio"] - df["Data Venda"]
df["Tempo Envio"]

0     20 days
1      5 days
2      6 days
3      6 days
4      7 days
        ...
899   13 days
900   11 days
901    4 days
902    4 days
903    4 days
Name: Tempo Envio, Length: 904, dtype: timedelta64[ns]

In [53]:
# Convertendo coluna Tempo Envio para inteiro
df["Tempo Envio"] = (df["Data Envio"] - df["Data Venda"]).dt.days
df["Tempo Envio"]

0      20
1       5
2       6
3       6
4       7
       ..
899    13
900    11
901     4
902     4
903     4
Name: Tempo Envio, Length: 904, dtype: int64

### Média dos tempos de envio

In [54]:
round(df['Tempo Envio'].mean(), 1)

8.5

### Média dos tempos de envio por marca

In [55]:
round(df.groupby("Marca")["Tempo Envio"].mean(), 1)

Marca
Adventure Works    8.7
Contoso            8.5
Fabrikam           8.5
Name: Tempo Envio, dtype: float64